apiVersion: v1
kind: Service
metadata:
  name: spring-app-service
  namespace: spring-app
  labels:
    app: spring-app
spec:
  type: LoadBalancer
  selector:
    app: spring-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 3600
